$icomoon-font-path: "fonts" !default;

$icon-eye: "\e900";
$icon-location: "\e901";
$icon-mail: "\e902";
$icon-minus: "\e903";
$icon-phone: "\e904";
$icon-plus: "\e905";
$icon-student: "\e906";
$icon-uniF041: "\f041";
$icon-uniF044: "\f044";
$icon-uniF067: "\f067";
$icon-uniF068: "\f068";
$icon-uniF06E: "\f06e";
$icon-uniF095: "\f095";
$icon-uniF0E0: "\f0e0";

