
.progects__view {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    transform: scale(0);
    transition: all .2s ease-in-out;
  }
.progects__img {
  position: relative;
  display: block;
  font-size: 0;
  text-align: center;
  transition: all 0.3s ease-in;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.2s ease-in, border-radius 0.2s ease-in;
  }
  &:hover {
    &::before {
      background-color: rgba(0, 0, 0, .5);
    }
    .progects__view {
      display: block;
      transform: scale(1.2);
    }
  }
  img {
    border-radius: 5px;
  }
}
.progects__img-inner {
  min-height: 100%;
}
.progects__info {
  p {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.progects__title {
  margin-bottom: 0;
  padding: 18px;
  background: #eee url(../img/icon/icon-plus.svg) 95% center no-repeat;
  background-size: 20px 20px;
  font-size: 24px;
  font-weight: 500;
  color: #222;
  text-align: left;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.4s;
  &:hover {
    background-color: #ddd;
  }
}
.progects__title.active {
  background: #ddd url(../img/icon/icon-minus.svg) 95% center no-repeat;
  background-size: 20px 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.progects__text {
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}
.progects__text.show {
  opacity: 1;
  max-height: 500px
}
.progects__link {
  margin-top: auto;
}
@media #{$tablet} {
  .progects__img {
    margin: 0 auto;
  }
}
@media #{$laptop} {
  .progects__img {
    min-width: auto;
    margin: 0 auto;
  }
}
